.modal {
    position: absolute;
    display: none;
    width: 300px;
    height: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 20px;
    .close {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        background-color: rgb(144, 173, 226);
        position: absolute;
        right: 0;
    }
    > div {
        background-color: #a6d9e2;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2, auto);
        >div{
            padding: 10px;
        }
        >div:nth-child(2){
            border-left: 3px groove ;

        }
    }
}

.open {
    display: block;
}

.close{
    cursor: pointer;
}
