.modal {
    position: absolute;
    display: none;
    width: clamp(150px, 90%, 600px);
    height: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 20px;
    .close {
        padding: 8px;
        width: 30px;
        background-color: rgb(211, 209, 207);
        position: absolute;
        right: 5px;
    }
    > div {
        background-color: #eefafc;
        border: 5px outset #aaa;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2, auto);
        >div{
            padding: 10px;
        }
        >div:nth-child(2){
            border-left: 3px groove ;

        }
    }
}

.open {
    display: block;
}

.close{
    cursor: pointer;
}
